*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	overflow-x:hidden!important;
}

body{
	background: url( "images/stars_milky_way_space.jpg") no-repeat center center fixed;
	background-size: cover;
	overflow-x:hidden!important;
	
}
.first{
	background: url( "images/nasa-Q1p7bh3SHj8-unsplash.jpg") no-repeat center center fixed;
	background-size: cover;
	
}/*
.second{
	background: url( "images/exoplanet_atmosphere.jpg") no-repeat center center fixed;
	background-size: cover;
	

}*/
.third{
	background: url( "images/cosmonaut_space_suit_multicolored.jpg") no-repeat center center fixed;
	background-size: cover;


}
.fourth{
	background: url( "images/planets_stars_shine.jpg") no-repeat center center fixed;
	background-size: cover;
	

}
.fifth{
	background: url( "images/planets_asteroids_space.jpg") no-repeat center center fixed;
	background-size: cover;


}
.sixth{
	background: url( "images/space_open_space_planets.jpg") no-repeat center center fixed;
	background-size: cover;
	

}

nav{
	background-color:rgba(251,251,251,0);

}
 .nav-item .nav-link:hover, .nav-item .nav-link:hover{
	color: rgba(13,230,70,0.77);
}
/*.navbar2{
	position:-webkit-sticky;
	position: sticky;
	top:0px;
}*/
 .nav-item .active:hover, .nav-item .active:hover{
	color: aliceblue;
}
#navbar{
	position:sticky;
	position:-webkit-sticky;
	top:0;
	z-index:21;
}
.d-block img{
	width: 700px;
	height: 400px;
}
.d-block p{
	font-family: 'Libre Baskerville', serif;
}
.d-flex img{
	width: 70px;
	height: 70px;
}
.text-white{
	font-family: 'Chilanka', cursive;
	font-size: 30px;
	margin-top: 40px;
}

.carousel {
	 height: 50%;
}

.carousel-indicators i{
	color: white;
	
	
}
.carousel-indicators .active{
	color: red;
}
/* Card 1 */

.card1{
	box-shadow: 0px 0px 2px 2px rgb(97, 126, 85);
}
.card1:hover{
	box-shadow: 0px 0px 2px 4px rgb(97, 126, 85);
}

.overlayer{
	position: absolute;
	top: 0%;
	left: 0%;
	transition: .6s ease-in-out;
	opacity:1;
	width: 100%;
	height: 0%;
	font-size: 25px;
	color: rgb(252, 248, 248);
	background-color: black;
	font-family: 'Chilanka', cursive;
	font-weight: bolder;
	transition:  ease-in-out 0.5s;
}
.card1:hover .overlayer{
	height: 100%;
}
.cardText{
	position: absolute;
	top:30%;
	left:30%;
	opacity: 0;

}
.card1:hover .cardText{
	opacity: 1;
}
/* card 1 end*/

/* card 2*/
.card2{
	background-color: bisque;
}

.fa-bullhorn{
	font-size: 45px;
	color: white;
}
.icon{
	background-color: #3434F0;
	transition: 0.5s;
}
.card2:hover .icon{
	background-color: white;
}
.card2:hover .fa-bullhorn{
	color:blue;
}
.rounded-circle{
	padding-left: 40%;
	padding-right: 40%;
}
/* card 2 end*/

/*footer*/

.page-footer a{
	color:aliceblue;
    text-decoration: none;
}
.page-footer a:hover{
    color:rgb(38, 156, 235);
	text-decoration: none;
}
.page-footer span{
	font-size: 17px;
}
.footer-copyright a{
    color: black;
    font-weight: bold;
}
.footer-copyright a:hover{
    color: rgb(192, 16, 16);
}
.social:hover{
	box-shadow: 0px 0px 5px 5px white;
}
    

/*footer end*/

#mine {
	color:white;
	text-align: center;
	
}
#mine img{
	width: 20px;
	height: 20px;
}


@media (max-width:1198px){
html{
	overflow-x:hidden!important;
	}
.nav-pills .nav-link.active {
    color: #fff;
    background-color: #DC0B0B;
}
	.navbar-toggler{
		font-size: 30px !important;
		color:white ! important;
		transition:0.6s !important;
	}
	#close{
		display:none ;
		transition:0.6s ! important;
		color:white ! important;
	}
	}
